<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <h2>Login</h2>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
      <div *ngIf="submitted && loginForm.controls['email'].invalid">
        Valid email is required
      </div>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
      <div *ngIf="submitted && loginForm.controls['password'].invalid">
        Password is required
      </div>
    </div>

    <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>

    <button type="submit">Login</button>
     <p class="register-link">
      Not registered?
      <a routerLink="/register">Register here</a>
    </p>
  </form>
</div>
